.animateForm {
    animation-duration: 1s;
    animation-name: form-animation;
    backface-visibility: hidden;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 0;
        left: 0;
        transform: rotateY(-180deg);
        z-index: -1;
        border-radius: 16px;
    }
}

@keyframes form-animation {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}