@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

p, h1, h2, h3, a, button, span, input, div {
    margin: 0;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: inherit;
}

button, input[type="submit"] {
    background: #F2726C;
    border: none;
    transition: all .4s linear;
    cursor: pointer;
        
    &:hover {
        color: #F7F3F4;
        background: #ff3429;
    }
}
/* Slider */

@import './components/index.scss';